- cards = [{title:'My Reqs', logo: 'clipboard', color: 'purple'}, {title:'Candidates', logo:'address-card', color: 'blue'}, {title:'Calendar', logo: 'calendar', color: 'yellow'}, {title:'Reports', logo: 'chart-area',  color: 'green'} ]

.cardBox.flex.flex-wrap.items-start
  - cards.each do |card|
    = render partial: 'card', locals: {card: card, req: @requisitions}
  