- cards = [{title:'My Reqs', logo: 'clipboard'}, {title:'Candidates', logo:'address-card'}, {title:'Calendar', logo: 'calendar'}, {title:'Reports', logo: 'chart-area'} ]

.cardBox.flex.flex-wrap.items-start
  - cards.each do |card|
    = render partial: 'card', locals: {card: card, req: @requisitions}
  